tr.mat-header-row {
  color: white;
  height: 56px;
  background-color: RGBA(78, 52, 46, 1) !important;
  border-radius: 20px;
}

th.mat-header-cell {
  text-align: center;
}

.mat-table {
  background: RGBA(210, 186, 176, 0.3)
}

.colorButton {
  background-color: RGBA(78, 52, 46, 1) !important;
}
