<div class="background">
  <div class="">
    <mat-button-toggle-group class="mt-16 button gap-5">
      <!-- All Words -->
      <mat-button-toggle [routerLink]="['/dictionary/list']"
        class="w-44 font-bold text-2xl grid grid-cols-1 border-2 border-black" aria-label="Text align center">
        <mat-icon class="mr-5 text-4xl mb-2">
          <span class="material-symbols-outlined">
            menu_book
          </span>
        </mat-icon>
        <span>List Words</span>
      </mat-button-toggle>
      <!-- Details Word -->
      <mat-button-toggle [routerLink]="['/dictionary/details/' + 'a']"
        class="w-44 font-bold text-2xl grid grid-cols-1 border-2 border-black">
        <mat-icon class="mr-5 text-4xl mb-2">
          <span class="material-symbols-outlined">
            display_settings
          </span>
        </mat-icon>
        <span class="mt-3">Details</span>
      </mat-button-toggle>
      <!-- Favorites -->
      <mat-button-toggle [routerLink]="['/dictionary/favorites']"
        class="w-44 font-bold text-2xl grid grid-cols-1 border-2 border-black" aria-label="Text align right">
        <mat-icon class="mr-5 text-4xl mb-2">
          <span class="material-symbols-outlined">
            star
          </span>
        </mat-icon>
        <span>Favorites</span>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <app-root></app-root>
</div>
