tr.mat-header-row {
  color: white;
  height: 56px;
  background-color: RGBA(78, 52, 46, 1) !important;
  border-radius: 20px;
}

th.mat-header-cell {
  text-align: center;
}

.mat-table {
  background: RGBA(210, 186, 176, 0.3)
}

.colorButton {
  background-color: RGBA(78, 52, 46, 1) !important;
}


.shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.0), 0 1px 2px 0 rgba(0, 0, 0, 0.00) !important;
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}
